{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Login Page</h1>
    
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <label for="email">email:</label>
        <input type="text" id="email" name="email" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <a href="{% url 'accounts:account_creation' %}">Create an account</a><br><br>
        
        <input type="submit" value="Login">
    </form>
{% endblock %}